.vm {
   display: flex;
   flex-direction: column;
   height: 100%;
}
.vm .card-footer {
   margin-top: auto;
}

.stopped {
  background: repeating-linear-gradient(
  45deg,
  #fef9e7,
  #fef9e7 10px,
  #fcf3cf 10px,
  #fcf3cf 20px
);}

.running {
  background: repeating-linear-gradient(
  45deg,
  #d5f5e3,
  #d5f5e3 10px,
  #eafaf1 10px,
  #eafaf1 20px
);}

.error {
  background: repeating-linear-gradient(
  45deg,
  #fdedec,
  #fdedec 10px,
  #fadbd8 10px,
  #fadbd8 20px
);}